* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 40px;
  background-image: linear-gradient(#E5B9C1, black);
  color: transparent;
  background-clip: text;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, white, #E5B9C1);
}

.main__img{
  width: 50%;
}

.container {
  text-align: center;
  background-color: white;
  border-radius: 30px;
  width: 600px;
}

.title__container, .img__container, .button__container{
  padding: 16px;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

input:hover, textarea:hover { 
  background-color: #FBF5F5;
  border: 1px solid transparent;
} 

button {
  padding: 10px 20px;
  background-color: #E5B9C1;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
  border-radius: 5px;
}

button:hover {
  background-color: #C29DA4;
  transform: scale(.9);
}

button:active {
  transform: scale(.8);
}

#weatherContainer {
  margin-top: 20px;
}

.weather-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  display: inline-block;
  width: 250px;
  margin-right: 10px;
}

.weather-icon {
  background-color: #F9EEF0;
  border-radius: 100%;
  cursor: pointer;
  transition: all 300ms ease;
}

.weather-icon:hover, .astronomy-icon:hover {
  transform: scale(0.9);
}

.weather-icon:active, .astronomy-icon:active {
  transform: scale(0.8);
}

.astronomy-icon {
  color: white;
  border-radius: 100%;
  height: 64px;
  width: 64px;
  background-color: #221C1D;
  cursor: pointer;
  transition: all 300ms ease;
}

.dark-pink {
  font-weight: 800;
  color: #645154;
}

/* SPINNER */

.loading-spinner {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
  color: #E5B9C1;
  font-size: 50px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* MODAL */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: flex-end; 
  transition: all 0.3s ease-in-out;
}

.modal-content {
  background-color: #fff;
  margin: auto;
  border: none;
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  text-align: center;
  transform: translateY(100%);
  transition: transform 300ms ease-in-out;
  background-image: linear-gradient(to bottom right, black, #E5B9C1);
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
}

.modal.show .modal-content {
  transform: translateY(0%);
  transition: all 0.3s ease-in-out;
}


.coffee {
  width: 50%;
}

.close-button {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
}

.close-button:hover,
.close-button:focus {
  color: #000;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */